<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean  id="emp1" class="com.kodewala.Employee">
      <property name="employeeName" value="Monu Kumar"/>
      <property name="employeeId" value="Dev123B"/>
      <property name="role" value="Development"/>
      <property name="salary" value="150000"/>
    
    </bean>
    <bean  id="emp2" class="com.kodewala.Employee">
      <property name="employeeName" value="Rahul Kumar"/>
      <property name="employeeId" value="Dev124B"/>
      <property name="role" value="Development"/>
      <property name="salary" value="140000"/>
    
    </bean>
    
    <bean  id="emp3" class="com.kodewala.Employee">
      <property name="employeeName" value="Ankush Kumar"/>
      <property name="employeeId" value="Dev125B"/>
      <property name="role" value="Development"/>
      <property name="salary" value="130000"/>
    
    </bean>

</beans>